<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrinho - Flo</title>
  <link rel="stylesheet" href="style.css">  
    <script src="header.js" defer></script>
</head>
<body>
  <header id="main-header" class="small-header">
  </header>
    <main>
        <h2>Seu Carrinho</h2>
        <p>Seu carrinho está vazio.</p>

        <div style="height: 1500px; background-color: #f0f0f0; padding: 20px;">
            Conteúdo do carrinho para permitir a rolagem.
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>