<header class="small-header">
  <div class="header-content-top">
        <div class="logo">
            <img src="imgs/icon.png" alt="Flo Logo"> </div>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." aria-label="Search">
            <button class="search-icon" aria-label="Search button"></button>
        </div>
        <nav class="header-nav">
            <a href="#history" class="history-link">Histórico</a>
            <a href="#cart" class="cart-icon" aria-label="Shopping Cart">
                <img src="imgs/carrinho.png" alt="Carrinho">
            </a>
        </nav>
    </div>
</header>