<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header id="main-header" class="large-header">
    <div class="header-content-top">
        <div class="logo">
            <img src="imgs/icon.png" alt="Flo Logo"> </div>
        <div class="search-container">
            <input type="text" placeholder="Buscar..." aria-label="Search">
            <button class="search-icon" aria-label="Search button"></button>
        </div>
        <nav class="header-nav">
            <a href="#history" class="history-link">Histórico</a>
            <a href="#cart" class="cart-icon" aria-label="Shopping Cart">
                <img src="imgs/carrinho.png" alt="Carrinho">
            </a>
        </nav>
    </div>
    <div class="header-content-main">
        <div class="main-text">
            <h1>Verde que<br> transforma seu<br> espaço.</h1>
        </div>
        <div class="main-image">
            <img src="imgs/plantaApresentacao.png" alt="Calathea Zebrina em vaso branco"> </div>
    </div>
</header>

<main>
    <p>Role a tela para ver o cabeçalho encolher...</p>
    <div style="height: 2000px; background-color: #f0f0f0; padding: 20px;">
        Conteúdo principal para permitir a rolagem.
    </div>
</main>
    <script src="script.js"></script>
</body>
</html>
